{% extends 'base.html' %}
{% load static%}
{% load humanize %}
{% block content %}

<!-- <div style="background-color: #D2B48C; padding: 20px">
    <h1 class="text-center">Các sản phẩm của chúng tôi</h1>
    <div class="row justify-content-center mb-4">
        <div class="col-md-6">
            <form method="GET">
                <div class="input-group">
                    <select class="form-select" name="category">
                        <option value="">All Categories</option>
                        {% for category in categories %}
                        <option value="{{ category.id }}" {% if category.id == selected_category %}selected{% endif %}>
                            {{ category.name }}
                        </option>
                        {% endfor %}
                    </select>
                    <button type="submit" class="btn btn-primary">Filter</button>
                </div>
            </form>
        </div>
    </div>
    <div class="d-flex justify-content-center" style="padding-bottom: 20px">
        Tổng cộng có: {{ products|length }} sản phẩm.
    </div>
    <div class="row justify-content-center">
        {% for product in products %}
        {% if forloop.counter0|divisibleby:3 and forloop.counter0 > 0 %}
    </div>

    <div class="row justify-content-center">
        {% endif %}
        <div class="col-md-3 mb-4">
            <div class="card">
                <div style="display: flex; justify-content: center; height: 300px;">
                    <img src="{{ product.image }}" class="card-img-top" alt="{{ product.name }} "
                         style="object-fit: cover; width: 300px; height: 300px;">
                </div>
                <div class="card-body">
                    <h5 class="card-title">{{ product.name }}</h5>
                    <p class="card-text">{{ product.price|add:23000|floatformat:0|intcomma }} VNĐ</p>
                    <div class="d-flex justify-content-between">
                        <button type="button" class="btn btn-primary add-to-cart" data-product-id="{{ product.id }}">Add
                            to
                            Cart
                        </button>
                        <a href="{% url 'product_detail' product_id=product.id %}" class="btn btn-secondary">Details</a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div> -->

<!-- ========================= SECTION MAIN ========================= -->
<section class="section-intro padding-y-sm">
    <div class="container">

        <div class="intro-banner-wrap">
            <img src="{%static 'images/banners/banner.jpg' %}" class="img-fluid rounded" style="width: 100%; height: 360px;">
        </div>

    </div> <!-- container //  -->
</section>
<!-- ========================= SECTION MAIN END// ========================= -->

<!-- ========================= SECTION  ========================= -->
<section class="section-name padding-y-sm">
    <div class="container">

        <header class="section-heading">
            <a href="./store.html" class="btn btn-outline-primary float-right">See all</a>
            <h3 class="section-title">Sản phẩm nổi bật</h3>
        </header><!-- sect-heading -->


        <div class="row">
            {% for product in products %}
            <div class="col-md-3">
                <div class="card card-product-grid">
                    <a href="{% url 'product_detail' product_id=product.id %}" class="img-wrap"> <img src="{{ product.image }}"> </a>
                    <figcaption class="info-wrap">
                        <a href="./product-detail.html" class="title">{{ product.name }}</a>
                        <div class="price mt-1">{{ product.price|add:23000|floatformat:0|intcomma }} VNĐ</div> <!-- price-wrap.// -->
                        <a href="#" class="btn btn-block btn-primary">Add to cart </span> <i class="fas fa-shopping-cart"></i> </a>
                    </figcaption>
                </div>
            </div> <!-- col.// -->

            {% endfor %}
        </div> <!-- row.// -->

    </div><!-- container // -->
</section>
<!-- ========================= SECTION  END// ========================= -->

{% endblock %}