{% extends 'base.html' %}
{% load static%}
{% block content %}

<section class="p-5">
  <div class="mask d-flex align-items-center h-100 gradient-custom-3">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
          <div class="card" style="border-radius: 15px;">
            <div class="card-body p-5">
              <h2 class="text-uppercase text-center mb-5">Đăng ký tài khoản</h2>
              {% for message in messages  %}            
              <div class="alert alert-danger" role="alert">
                    <strong>Lỗi : </strong> {{ message }}
                    </button>
                  </div>
              {% endfor %}   
              </form>
              <form class="container mt-4" method="POST">
                {% csrf_token %}
            
                <div class="row">
                    <div class="form-group col-md-6">
                        <label>Họ</label>
                        <input type="text" class="form-control" name="first_name" id="first_name" placeholder="Nhập họ của bạn" required>
                    </div>
                    <div class="form-group col-md-6">
                      <label>Tên</label>
                      <input type="text" class="form-control" name="last_name" id="last_name" placeholder="Nhập tên của bạn" required>
                  </div>
                </div>
            
                <div class="row mt-4">
                    <div class="form-group col-md-6">
                        <label>Email</label>
                        <input type="email" class="form-control" name="email" id="email" placeholder="Nhập email" required>
                    </div>
                    <div class="form-group col-md-6">
                        <label>Số điện thoại</label>
                        <input type="tel" class="form-control" name="phone_number" id="phone_number" placeholder="Nhập số điện thoại" required>
                    </div>
                </div>
            
                <div class="row mt-4">
                    <div class="form-group col-md-12">
                        <label>Tên tài khoản</label>
                        <input type="text" class="form-control" name="username" id="username" placeholder="Nhập tên tài khoản" required>
                    </div>
                </div>
                
                <div class="row mt-4">
                    <div class="form-group col-md-6">
                        <label>Mật khẩu</label>
                        <input type="password" class="form-control" name="password1" id="password1" placeholder="Nhập tên mật khẩu" required>
                    </div>
                    <div class="form-group col-md-6">
                        <label>Xác nhận mật khẩu</label>
                        <input type="password" class="form-control" name="password2" id="password2" placeholder="Xác nhận mật khẩu" required>
                    </div>
                </div>
            
                <div class="d-flex align-items-center justify-content-center">
                  <input type="submit" value="Đăng ký" class="btn mt-4"
                    style="background-color: #8c5d4f; color: white; font-size: larger; width: 9rem;">
                </div>
            </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}